{% extends 'base.html' %}

{%block title%}
Home
{%endblock title%}

{% block body %}
<div>
    <div class="head">
        <img src="../static/libfnt.jpg">
        <div class="info"></div>
        <h2><u>NEW WAY</u></h2>
        <p class="quote"><em>An Investment in Knowledge Pays the best interest.</em></p>
        <p class="name"><em>-Benjamin Franklin</em></p>
    </div>
</div>
<div>
    <div class="back2">
        <h2 class="select">SELECT YOUR CLASS</h2>
        <p class="sentence">Select the class And get what you want</p>
        <img src="../static/libfnt.jpg"">
        <div class="container1">
            <div class="button1">
                <a href="Class">
                <button type="button">SELECT</button>
                </a>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="container2">
        <div class="image2">
            <img src="../static/libfnt.jpg"">
        </div>
        <div class="text">
            <h2>ABOUT US</h2>
            <h4>Unlike Any Others</h4>
            <p>LIBRARY PORTAL was founded in 2000 by a group of what some have called 'super fans'. We're a dedicated Fan Club that brings the latest news, updates, special events, and more to our community. We pride ourselves on being a fun and collaborative enviroment, where people from all over can come together in fan unity.</p>
        </div>
    </div>
</div>
<div class="back7" style="background-color:#000000;"></div>
<div>
    <div class="back3">
        <h2>WHAT'S NEW?</h2>
        <p class="here">Here's What's Happening</p>
        <div class="container3">
            <div class="first">
                <img src="../static/libfnt.jpg">
                <h3>Word of the Day</h3>
                <p>July 20, 2022</p>
                <button type="button">Get in Touch</button>
            </div>
            <div class="second">
                <img src="../static/libfnt.jpg">
                <h3>Quotation of the Day</h3>
                <p>July 20, 2022</p>
                <button type="button">Get in Touch</button>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="text2">
        <img src="../static/libfnt.jpg">
        <div class="back4"></div>
        <h2>FAQ</h2>
        <p>The Answers You Need</p>
    </div>
</div>
<div>
    <div class="container4">
        <div class="query1">
            <img src="../static/libfnt.jpg">
            <h2>ACCORDING TO WHICH BOARD IS THIS ?</h2>
            <p>It is not based on any particular board. Any Board students can study from this website.</p>
        </div>
        <div class="query2">
            <img src="../static/libfnt.jpg">
            <h2>FROM WHICH CLASS THIS WEBSITE PROVIDE NOTES</h2>
            <p>From 1st class.</p>
        </div>
        <div class="query3">
            <img src="../static/libfnt.jpg">
            <h2>WHAT IS THE ADVANTAGE OF BECOMING A MEMBER ?</h2>
            <p>You will get all the things up to date. Any new thing happens you will get to know it first.</p>
        </div>
    </div>
</div>
<div>
    <div class="container5">
        <img src="../static/libfnt.jpg">
        <div class="back5"></div>
        <h2>CONTACT US</h2>
        <div class="contact_form">
            <form>
                <label for="fname">Name</label>
                <br>
                <input type="text" name="name">
                <br>
                <label for="lname">Email</label>
                <br>
                <input type="text" name="lname">
                <br>
                <label for="subject">Subject</label>
                <br>
                <input type="text" name="subject">
                <br>
                <label for="message">Message</label>
                <br>
                <input type="text" name="message">
                <br>
                <input type="submit" value="submit" id="button">
            </form>
        </div>
        <p>Thanks for submitting!</p>
    </div>
</div>
<div class="back6"></div>
<div>
    <div class="sub_form">
        <h2>NEW WAY</h2>
        <form>
            <label for="sub">Subcribe Form</label>
            <br>
            <input type="text" name="sub">
            <br>
            <input type="submit" value="submit" id="button2">
        </form>
        <p>Thanks for submitting!</p>
    </div>
</div> 
{% endblock body %}